
.carousel-container {
    overflow: hidden;
    width:990px; /* 3 imágenes de 300px cada una */
  }
  
  .carousel-slide {
    display: flex;
    transition: transform 2s ease-in-out;
  }
  
  .carousel-image {
    width: 300px;
    height: auto;
    margin-right: 30px; /* Espacio entre imágenes */
    transition: transform 4s ease-in-out;
    border-radius: 10px;
    z-index: 50;
   
  }

  #cubridorcarro{
    height: 250px;
    position: absolute; 
 
     background:linear-gradient(to right, rgb(255, 255, 255),rgba(0,0,0,0),  rgb(255, 255, 255)); 
     pointer-events: none;
     z-index: 100;
     
}
#fondo{
  background-color: white;
  z-index: 10;
}
  

  