.carousel-container {
    overflow: hidden;
    width: 300px; /* 3 imágenes de 300px cada una */
  }
  
  .carousel-slide {
    display: flex;
    transition: transform 2s ease-in-out;
  }
  
  .carousel-image {
    width: 300px;
    height: auto;
    margin-right: 30px; /* Espacio entre imágenes */
    
  }
  

  